## 練習時間
資料的操作有很多，接下來的馬拉松中我們會介紹常被使用到的操作，參加者不妨先自行想像一下，第一次看到資料，我們一般會想知道什麼訊息？

#### Ex: 如何知道資料的 row 數以及 column 數、有什麼欄位、多少欄位、如何截取部分的資料等等

有了對資料的好奇之後，我們又怎麼通過程式碼來達成我們的目的呢？

#### 可參考該[基礎教材](https://bookdata.readthedocs.io/en/latest/base/01_pandas.html#DataFrame-%E5%85%A5%E9%97%A8)或自行 google

In [2]:
import os
import numpy as np
import pandas as pd

In [3]:
# 設定 data_path
dir_data = '../data/'
f_app = os.path.join(dir_data, 'HomeCredit_columns_description.csv')
print('Path of read in data: %s' % (f_app))
# Read the CSV file
columns_meaning = pd.read_csv(f_app,encoding="ISO-8859-1")
print("Data type: ",type(columns_meaning))
columns_meaning.head(3)

Path of read in data: ../data/HomeCredit_columns_description.csv
Data type:  <class 'pandas.core.frame.DataFrame'>

,Unnamed: 0,Table,Row,Description,Special
0,1,application_{train|test}.csv,SK_ID_CURR,ID of loan in our sample,NaN
1,2,application_{train|test}.csv,TARGET,Target variable (1 - client with payment diffi...,NaN
2,5,application_{train|test}.csv,NAME_CONTRACT_TYPE,Identification if loan is cash or revolving,NaN

### 如果沒有想法，可以先嘗試找出剛剛例子中提到的問題的答案
#### 資料的 row 數以及 column 數

In [5]:
file = os.path.join(dir_data, 'application_test.csv')
homeCredit_data = pd.read_csv(file)
print("Data shape : ",homeCredit_data.shape)

Data shape :  (48744, 121)

#### 列出欄位訊息

In [6]:
print("Data Columns: \n",homeCredit_data.columns)
print("Data Index : \n",homeCredit_data.index)
#print("Data describe : \n",homeCredit_data.describe())
#print("Data Info : \n", homeCredit_data.info)

Data Columns:
 Index(['SK_ID_CURR', 'NAME_CONTRACT_TYPE', 'CODE_GENDER', 'FLAG_OWN_CAR',
       'FLAG_OWN_REALTY', 'CNT_CHILDREN', 'AMT_INCOME_TOTAL', 'AMT_CREDIT',
       'AMT_ANNUITY', 'AMT_GOODS_PRICE',
       ...
       'FLAG_DOCUMENT_18', 'FLAG_DOCUMENT_19', 'FLAG_DOCUMENT_20',
       'FLAG_DOCUMENT_21', 'AMT_REQ_CREDIT_BUREAU_HOUR',
       'AMT_REQ_CREDIT_BUREAU_DAY', 'AMT_REQ_CREDIT_BUREAU_WEEK',
       'AMT_REQ_CREDIT_BUREAU_MON', 'AMT_REQ_CREDIT_BUREAU_QRT',
       'AMT_REQ_CREDIT_BUREAU_YEAR'],
      dtype='object', length=121)
Data Index :
 RangeIndex(start=0, stop=48744, step=1)

#### 截取部分資料

In [7]:
h = homeCredit_data.head(10)
t = homeCredit_data.tail(5)
#h_c = h[["SK_ID_CURR","AMT_INCOME_TOTAL","FLAG_EMAIL","NAME_SELLER_INDUSTRY","FLAG_OWN_CAR","CNT_CHILDREN"]]
h_c = h[["SK_ID_CURR","CNT_CHILDREN","AMT_INCOME_TOTAL","FLAG_OWN_CAR","FLAG_OWN_REALTY"]]
h_si = h_c.sort_index(axis = 0, ascending = False)
h_sv = h_c.sort_values("AMT_INCOME_TOTAL")
print(h_si)
print(h_sv)

   SK_ID_CURR  CNT_CHILDREN  AMT_INCOME_TOTAL FLAG_OWN_CAR FLAG_OWN_REALTY
9      100067             1          162000.0            Y               Y
8      100066             0          315000.0            N               Y
7      100065             0          166500.0            N               Y
6      100057             2          180000.0            Y               Y
5      100042             0          270000.0            Y               Y
4      100038             1          180000.0            Y               N
3      100028             2          315000.0            N               Y
2      100013             0          202500.0            Y               Y
1      100005             0           99000.0            N               Y
0      100001             0          135000.0            N               Y
   SK_ID_CURR  CNT_CHILDREN  AMT_INCOME_TOTAL FLAG_OWN_CAR FLAG_OWN_REALTY
1      100005             0           99000.0            N               Y
0      100001             0          135000.0            N               Y
9      100067             1          162000.0            Y               Y
7      100065             0          166500.0            N               Y
4      100038             1          180000.0            Y               N
6      100057             2          180000.0            Y               Y
2      100013             0          202500.0            Y               Y
5      100042             0          270000.0            Y               Y
3      100028             2          315000.0            N               Y
8      100066             0          315000.0            N               Y

#### 取出bureau credit hour ~year 欄位，並抓取指定行數，去除空值

In [8]:
bureau_year = homeCredit_data.loc[:,"AMT_REQ_CREDIT_BUREAU_HOUR":"AMT_REQ_CREDIT_BUREAU_YEAR"].iloc[5000:5020,:]
drop_null = bureau_year.dropna()
drop_null

,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
5000,0.0,0.0,0.0,0.0,0.0,5.0
5001,0.0,0.0,0.0,0.0,1.0,2.0
5002,0.0,0.0,0.0,0.0,1.0,1.0
5003,0.0,0.0,0.0,0.0,1.0,0.0
5004,0.0,0.0,0.0,0.0,0.0,0.0
5005,0.0,0.0,0.0,0.0,0.0,5.0
5007,0.0,0.0,0.0,0.0,0.0,3.0
5009,0.0,0.0,0.0,0.0,0.0,3.0
5010,0.0,0.0,0.0,0.0,0.0,3.0
5011,0.0,0.0,0.0,0.0,0.0,4.0
5012,0.0,0.0,0.0,0.0,1.0,2.0
5013,0.0,0.0,0.0,0.0,0.0,1.0
5014,0.0,0.0,0.0,0.0,0.0,6.0
5015,0.0,0.0,0.0,0.0,0.0,3.0
5016,0.0,0.0,0.0,0.0,1.0,3.0
5017,0.0,0.0,0.0,0.0,0.0,2.0
5018,0.0,0.0,0.0,0.0,2.0,3.0
5019,0.0,0.0,0.0,0.0,1.0,0.0